<div class="jumbotron">
    <div class="btn-group">
        <a class="btn btn-lg btn-success" ng-click="clearData()">Clear!<span class="glyphicon glyphicon-ok"></span></a>
        <a class="btn btn-lg btn-success" ng-click="getData(true)">Get!<span class="glyphicon glyphicon-ok"></span></a>
        <a class="btn btn-lg btn-success" ng-click="getData(false)">Get!<span class="glyphicon glyphicon-ok"></span></a>
    </div>
</div>
<div class="row marketing">
</div>

<table class="table table-striped" st-table="rows">
    <therad>
    <tr>
        <th st-sort="num"
            ng-click="num=!num; sort('num',num)">数字</th>
        <th st-sort="count"
            ng-click="count=!count; sort('count',count)">頻度</th>
        <th st-sort="weight"
            ng-click="weight=!weight; sort('weight',weight)">重み</th>
        <th st-sort="average"
            ng-click="average=!average; sort('average',average)">平均</th>
    </tr>
    </therad>
    <tbody>
        <tr ng-repeat="row in rows">
            <td>{{ ("0" + row.num).substr(-2) }}</td>
            <td>{{ row.count }}</td>
            <td>{{ row.weight }}</td>
            <td>{{ row.average | number: 2}}</td>
        </tr>
    </tbody>
</table>

